body {
  background-color: paleturquoise;
  font-family: "Courier New", Courier, monospace;
}

h1 {
  text-shadow: 2px 2px 0px white;
}

.App {
  text-align: center;
}

.App-header {
  text-align: center;
  background-color: palevioletred;
  padding: 1px;
  margin: 10px;
  box-shadow: 5px 5px 0px black;
  letter-spacing: 4px;
}

.SearchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  text-align: center;
}

.SearchItem {
  margin: 5px;
  text-align: center;
}

.HackerContentContainer {
  padding: 10px;
  margin: 10px;
  text-align: center;
  background-color: palevioletred;
  box-shadow: 5px 5px 0px black;
}

.HackerContent {
  margin: 10px;
  padding: 5px;
  text-align: left;
  background-color: white;
  box-shadow: 2px 2px 0px black;
}

button {
  background-color: palevioletred;
  border: 1px solid white;
  color: white;
  padding: 4px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

.NewsAuthor {
  font-size: 13px;
  margin: 3px;
}

.NewsTitle {
  margin: 3px;
}

/* unvisited link */
a:link {
  font-weight: bold;
  color: black;
}

/* visited link */
a:visited {
  font-weight: bold;
  color: darkgray;
}

/* mouse over link */
a:hover {
  font-weight: bold;
  color: white;
  background-color: black;
}
